body {
    padding: 5em;
    background: url(binary.jpg)
  }

h1 {
    color: white;
    background: black;
    text-align: center;
  }

li a {
    background: #00BDFF;
  }
  
  table.table { width: 100%; }
  
.table th, .table td { 
    text-align: left; 
    padding: 0.25em;
  }
  
.table tr { 
    border-bottom: 1px solid #DDD;
  }
  td.edit-buttons { text-align: right; }

  
@media screen and (max-width: 800px) {
  tr { 
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(3,3,3,0.2);
    }
  td, th {
      flex: 1 1 150px;
      border: 0.5px solid rgba(3,3,3,0.2);
    }
  td.edit-buttons, td.empty {
      /*flex: 1 0 90%;
      text-align: center;*/
    }
  }
  
  * { box-model: border-box; font-family: 'futura'; }

#main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

#main div {
      background: #00BDFF;
      width: 20em;
      min-height: 20em;
      margin: 1em;
      text-align: center;
      padding: 0.5em;
  }