body {
    background: url(thesimpsons.jpg);
    background-repeat: no-repeat;
    background-size: cover;     
}

h1 {
    padding-left: 10px;
    font-size: 5em;
    text-shadow: 5px 2px #FFA800;
    color: rgb(255, 221, 0);
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
}

#innhold {
    font-size: 30px; 
}

li {
    list-style-type: none;
    padding-left: 10px;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";  

}

li a {
    text-decoration: none;
    color: #FFD200;
}

li a:hover {
    color: white;
    font-size: 2em;
    font-style: 
}

#homer {
    position: absolute;
    top: 67%;
    bottom: 33%;
    left: 22%;
    right: 78%;

    animation: linear 3s springe infinite;

}

@keyframes springe {
0% {top: 67%;
    bottom: 33%;
    left: 22%;
    right: 78%;}

50% {top: 73%;
    bottom: 27%;}
    
100% {top: 65%;
    bottom: 35%;
    left: 45%;
    right: 55%;}
}

#intro {
    position: absolute;
    top: 10%;
    left: 40%;
    bottom: 90%;

}

#nabo {
    position: absolute;
    color: orange;
}

#nabohoyre {
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-decoration: none;
}

#nabohoyre ul {
    -webkit-padding-start: 0;
}

#nabohoyre li {
    display: block;
}

#nabohoyre li a {
    text-decoration: none;
    background: #FFD200;
    color: rgb(255, 137, 0);
    margin: 20px;
    text-align: center;
    height: 2em;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.79);
    padding: 10px;
    font-size: 1.3em;
}

#nabovenstre {
    position: absolute;
    left: 10px;
    bottom: 20px;
    text-decoration: none;
}

#nabovenstre ul {
    -webkit-padding-start: 0;
}

#nabovenstreli {
    display: block;
}

#nabovenstre li a {
    text-decoration: none;
    background: #FFD200;
    color: rgb(255, 137, 0);
    margin: 20px;
    text-align: center;
    height: 2em;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.79);
    padding: 10px;
    font-size: 1.3em;
}

     

