body {
    background: url(thesimpsons.jpg);
    position: relative;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size: cover;     
}

h1 {
    padding-left: 10px;
    font-size: 5em;
    text-shadow: 5px 2px #FFA800;
    color: rgb(255, 221, 0);
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
}

#innhold {
    font-size: 30px; 
}

li {
    list-style-type: none;
    padding-left: 10px;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";  

}

li a {
    text-decoration: none;
    color: #FFD200;
}

li a:hover {
    color: white;
    font-size: 2em;
    font-style: 
}

#homer {
    position: absolute;
    top: 80%;
    bottom: 20%;
    left: 25%;
    right: 75%;

    animation: springe 3.5s linear infinite;

}

@keyframes springe {
0% {top: 80%;
    bottom: 20%;
    left: 20%;
    right: 80%;}

50% {top: 85%;
    bottom: 15%;
    left: 35%;
    right: 65%;}

100% {top: 75%;
    bottom: 25%;
    left: 45%;
    right: 55%;}
}

#bart {
    position: absolute;
    top: 350px;
    left: 25px;
}

#intro {
    position: absolute;
    top: 40px;
    left: 500px;

}

#nabo {
    position: absolute;
    color: orange;
}

#nabohoyre {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
}

#nabohoyre ul {
    -webkit-padding-start: 0;
}

#nabohoyre li {
    display: block;
}

#nabohoyre li a {
    text-decoration: none;
    background: #FFD200;
    color: rgb(255, 137, 0);
    margin: 20px;
    text-align: center;
    height: 2em;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.79);
    padding: 10px;
    font-size: 1.3em;
}

#nabovenstre {
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-decoration: none;
}

#nabovenstre ul {
    -webkit-padding-start: 0;
}

#nabovenstreli {
    display: block;
}

#nabovenstre li a {
    text-decoration: none;
    background: #FFD200;
    color: rgb(255, 137, 0);
    margin: 20px;
    text-align: center;
    height: 2em;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.79);
    padding: 10px;
    font-size: 1.3em;
}

     

