body {
    background: url("https://image.freepik.com/free-photo/sunny-day-with-sea-background_1160-233.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

#bestillingsskjema {
    position: absolute;
    bottom: 0;
    text-align: center;
}

#piratskip {
    position: absolute;
    left: 30%;

    height: 250px;
    width: 250px;   

    margin: 1.5em;
    border: 3px dotted grey;
    padding: 1.5em;

    font-family: "verdana";
    font-size: 13px;    
    text-align: center;

    background: rgba(211, 211, 211, 0.85);
}

#seilbaat {
    position: absolute;

    height: 250px;
    width: 250px;   

    margin: 1.5em;
    border: 3px dotted grey;
    padding: 1.5em;

    font-family: "verdana";
    font-size: 13px;    
    text-align: center;

    background: rgba(211, 211, 211, 0.85);

}

#baattur {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 150px;
    background: url("http://www.freeiconspng.com/uploads/sailboat-png-transparent-image-png-24.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: baattur 10s linear infinite;
}

@keyframes baattur {
    0% {top:150px; left:1%; transform: rotateY(0deg);}
    49% {top:150px; left:90%; transform: rotateY(0deg);}
    50% {top:150px; left:90%; transform: rotateY(180deg);}
    99% {top:150px; left:1%; transform: rotateY(180deg);}
    100% {top:150px; left:1%; transform: rotateY(0deg);}
}