
#snow {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 800px;

    background-image: url("himmel.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: yellow;
    font-size: 3em;
}

#sky {
    background: -webkit-linear-gradient(black, #0009FF, #483DBB);
    width: 800px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(20px, auto);
}

.star {
    width: 10px;
    height: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD200), to(#FFFFFF));
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 0px;

    animation: shine 1s linear infinite;
}

@keyframes shine {
    0% {width: 0; height: 0;}
    50% {width: 20%; height: 20%;}
    100% {width: 0; height: 0;}
}

#nissen {
    position: absolute;
    animation: tur 8s linear infinite;
    font-size: 3em;
    color: red;
    
}

@keyframes tur {
    0% {left: 0px; top: 20%; opacity: 1;}
    50% {left: 40%; top: 20%; opacity: 1;}
    100% {left: 50%; top: 20%; opacity: 0;}
    
}

.pakke {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url("pakke.png");
    background-size: contain;

    animation: drop 2s linear; 
    animation-fill-mode: forwards;   
}

@keyframes drop {
    0% {top: 100px;}
    100% {top: 80vh;}
}

#lys {
    position: absolute;
    top: 0;
    height: 35px;;
    width: 65%;
    
    background-image: url("lys.gif");
    background-size: contain;
}

#merrychristmas {
    position: absolute;
    right: 350px;
    bottom: 10%;

    height: 250px;
    width: 250px;
    
    background-image: url("merrychristmas.png");
    background-size: contain;
    background-repeat: no-repeat;
}
  