body {
    margin-top: 200px 250px;
    text-align: center;
}
a{
    text-decoration: inherit;
}
a {
    position: absolute;
    color: purple;
    font-family: "Georgia";
    font-weight: 100;
    font-size: 40px;
    text-align: right;

    border: solid 2px purple;
    border-radius: 50px;

    padding: 5px 40px;

    transition-duration: 300ms;
}
a:hover {
    background: lightpink;
    color: purple;
    border: solid 2px purple
}
.bakgrunn {
    position: absolute;
    left: 0%;
    bottom: 2%;
    width: 100%;
    height: 98%;
    background: url("kake.png");
    background-size: cover;
    z-index: -1;
}
.bunntekst {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background: #939393;
    font-size: 20px;
    font-style: black;
    text-align: left;
    font-family: "Georgia";
}

.innhold {
    position: absolute;
    text-align: center;
    z-index: 1;
}
    
div span {
    color: red;
    font-family: 'Trebuchet MS'
    font-style: normal;
    font-weight: 400;
}

div p span {
    color: black;
    font-family: 'Trebuchet MS'
    font-style: normal;
    font-weight: 400;
}

div div::first-letter {
    color: #800056;
    font-size: 4em;
    font-family: 'Trebuchet MS'
    font-style: normal;
    font-weight: 400;
    
}

.video {
    position: absolute;
    padding: 50px;
    margin: 2px;
}

.knapp {
    padding: 250px
}

#button {
    width:450px;
    height:450px;
    position:relative;
    top:48px;
    margin:0 auto;
    text-align:center;
}
