body {
    background-image: url("bilder/newyork.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#logo:hover {
    width: 13.63636em;
    height: 4.09091em;
    filter: grayscale(100%);
}

#logo {
    position: absolute;
    top: 50vh;
    opacity: 1;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 0;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    background: url("bilder/logo.png") left top no-repeat;
    background-size: 13.63636em 4.09091em;
    width: 13.63636em;
    height: 4.09091em;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.37);
    z-index: 1;
    transition: 1s;
    filter: contrast(200%);
}

