#orderanimation.aktiv {
    animation: order 2s ease-in-out;
}

#orderanimation {
    position: absolute;
    bottom: 5vh;
    left: 40vh;
    opacity: 0;
    z-index: 100;
    background: red;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

p {
    color: black;
    font-size: 2em;
}

@keyframes order {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
    30% {
        opacity: 0.6;
    }
    40% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

#logo {
    position: absolute;
    top: 10vh;
    opacity: 1;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 0;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    background: url("bilder/logo.png") left top no-repeat;
    background-size: 13.63636em 4.09091em;
    width: 13.63636em;
    height: 4.09091em;
    box-shadow: 10px 10px rgba(117, 117, 117, 0.37);
    z-index: 1;
    transition: 1s;
    filter: contrast(200%);
}

#orders p {
    text-align: center;
}

#orders {
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0), lightgrey);
    width: 300px;
    height: 400px;
    right: 40vh;
    top: 27vh;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border: solid 0.5px rgba(153, 153, 153, 0.5);
    padding: 10px;
    z-index: 2;
    overflow: scroll;
}

#logo:hover {
    width: 6.95636em;
    height: 3.09091em;
    filter: contrast(200%);
}

select {
    background: whitesmoke;
}

#produkter #hoodie h2 {
    font-weight: normal;
}

button {
    background: red;
    border-radius: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 120px;
    height: 25px;
    color: white;
}

body {
    height: 100vw;
    width: 100vw;
    margin: 0;
    background: linear-gradient(white, lightgrey, white);
}

h1 {
    position: absolute;
    top: -6px;
    left: 20px;
}

#meny {
    top: 0;
    position: absolute;
    width: 100%;
    height: 10%;
}

ul {
    z-index: 99;
    position: relative;
    padding-top: 20px;
    list-style: none;
}

ul li {
    position: relative;
    line-height: 24px;
    font-size: 0.8em;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.2em;
}

ul li a:hover {
    background: red;
    color: white;
    font-weight: bold;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    position: relative;
}

#orders h4 {
    background: red;
    color: white;
    font-weight: 0;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: rgb(253, 54, 54);
}

.active {
    background: rgb(253, 54, 54);
}

#produkter #hoodie {
    background-image: url("bilder/hoodie3.png");
    height: 200px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(150%);
}

input {
    max-width: 50px;
}

#menu {
    position: absolute;
    left: 1vh;
    top: 20vh;
}

#menu li {
    left: -6vh;
    font-family: 'Courier New', Courier, monospace;
}

#produkter {
    position: relative;
    width: 98vw;
    height: 100vh;
    top: 200px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 20px;
}

div h2 {
    position: relative;
    left: 19%;
    top: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

#produkter div {
    left: 30vh;
    position: relative;
    width: 210px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

#text {
    background: red;
    display: none;
}

.topnav {
    overflow: hidden;

}

.topnav input[type=text] {
    float: left;
    padding: 2px;
    border: none;
    margin-top: 2px;
    margin-right: 0;
    font-size: 11px;
}

.topnav button {
    background: darkgrey;
    border-radius: 0;   
    font-family: 'Courier New', Courier, monospace;
    width: 70px;
    height: 20px;
    color: white;
    
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

#kiwi {
    position: absolute;
    left: 0;
    bottom: 0;
    
}