#bird {
    background-image: url("bird.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;   
    position: absolute;
    left: calc(50vw - 50px);
    top: 20px;
    top: 40vh;
    font-family: 'Courier New', Courier, monospace;

    filter: contrast(300%);
}

.hidden {
    visibility: hidden;
}

#sol {
    position: absolute;
    /* metoden under garanterer at solen står midt på himmelen 
        uansett hvordan bruker endrer størrelse på displayet */
    top: calc(10%);
    left: calc(80%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
}

#sol {
    animation: blink 1s alternate linear infinite;
}

@keyframes blink {
    100% {
        transform: scale(0.87);
    }
}

#sky {
    background: linear-gradient(skyblue, turquoise, lightblue, skyblue);
    height: 100vh;
}

#above,
#below {
    position: absolute;
    left: 400px;
    width: 80px;
    height: 235px; 
    background: linear-gradient(lightgreen, greenyellow);
    border: solid 1px darkgreen;
}

#above {
    top: 0;
}

#below {
    bottom: -8px;
}

#poeng {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 2em;
    border: solid black 1px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
}


background: linear-gradient(lightgreen, greenyellow);
    border: solid 1px darkgreen;